/* Global Design START */
:root {
  --primary: #495E57;
  --secondary: #F4CE14;
  --darkColor: #000000;
  --lightColor: #ffffff;
  --hover: #d8eee6;
  --lightBG: #edf7f3;
}

* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
  font-family: "karla";
  font-size: 16px;
  color: var(--darkColor);
  line-height: 2;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--lightColor);
  border: 2px solid var(--primary);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--darkColor);
  border: 2px solid var(--secondary);
}

.btn-secondary:hover{
  background-color: transparent;
  color: var(--secondary);
}

.btn-primary a, .btn-secondary a {
  color: inherit;
}

h1,h2,h3,h4,h5,h5 {
  color: var(--primary);
  font-family: "Lora";
  letter-spacing: capitalize;
  font-weight: bold;
  line-height: 1.5;
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4{
  font-size: 24px;
}
h5 {
  font-size: 20px;
}


.App {
  width: 100%;
  height: 100%;
}

a, .order-now {
  color: var(--primary);
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.container-row {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
}

.container-column {
  width: 1200px;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid #c5c5c5;
}

path {
  fill: var(--primary);
}
/* Global Design END */

/* Nav component design START */
header img {
  width: 350px;
}
header.container-row {
  background-color: var(--lightColor);
  padding: 15px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img, footer img {
  border: none;
}

nav menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav menu li {
  list-style: none;
}

nav menu li a {
  display: block;
  padding: 5px 15px;
  margin: 0 5px;
}

.active {
  background-color: var(--primary);
  color: var(--lightColor);
  border-radius: 3px;
}

nav menu li a:not(.active):hover {
  background-color: var(--hover);
  color: var(--primary);
  border-radius: 3px;
}

.nav-btn {
  padding:5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary);
  display: none;
}


.nav-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/* Nav component design END */


/*Footer Component START*/
footer #fc1{
  background-color: var(--primary);
  padding: 20px 40px;
}

footer img {
  width: 300px !important;
}

#fc1 .container-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav#footer-nav {
  display: flex;
  justify-content: space-between;
}

nav#footer-nav menu li a {
  padding: 5px 15px;
  margin: 0 5px;
  color: var(--lightBG);
}

nav#footer-nav .active {
  color: var(--secondary);
  background-color: transparent;
}

nav#footer-nav menu li a:not(.active):hover {
  color: var(--secondary);
  background-color: transparent;
}

.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
footer h5 {
  margin-bottom:15px;
}

#soc-med {
  display: flex;
  gap: 10px;
}

footer path {
  fill: var(--lightColor);
}

.copyright {
  text-align: center;
  background-color: var(--primary);
  padding: 30px;
}

.copyright small{
  color: var(--lightColor);
}

footer .btn {
  margin:15px 0;
}
/*Footer Component END*/

/*Hero section START*/
.hero {
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/hero.jpg");
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  color: var(--lightColor);
}

.hero p {
  color: var(--lightColor);
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  margin: auto;
  letter-spacing: 3px;
}

.hero .container-column {
  text-align: center;
  animation: heroAnimate 8s ease-in-out;
}

.hero a.btn {
  margin: 15px auto;
}
/*Hero section END*/

/*Home section START*/
#cr1 .container-column {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#cr2 {
  padding-top:0;
}

#cr2 .container-column, #cr3 .container-column{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

#cr2 figcaption {
  padding: 10px;
}

.menu-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size:20px;
  font-weight: bold;
  color: var(--primary);
}

.menu-details a{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}
#cr3 {
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/food-bg.jpg");
  justify-content: center;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#cr3 .reviews {
  border: 2px solid var(--lightColor);
  padding: 15px;
}

#cr3 h5, #cr3 p {
  color: var(--lightColor);
}

#cr3 figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none
}
#cr3 figure {
  width: 20%;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.star {
  font-size: 18px;
  letter-spacing: 5px;
  line-height: normal;
  color: var(--lightColor);
}
#cr4 .container-column{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  align-items: center;
}
/*Home section END*/


/*Reserve section START*/
.form-desc {
  
  margin-bottom:20px;
}

form input, form textarea {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary);
  padding: 0 8px;
}
form div {
  margin-bottom: 15px;
}

#radio-cont {
  display: inline-flex;
  gap: 10px;
  margin-top: 30px;
}

#message-cont {
  margin: 30px 0px;
  display: grid;
}

.form-col-2, .form-col-3 {
  display: grid;
  gap: 20px;
}
.form-col-2 {
  grid-template-columns: auto auto;
}
.form-col-3 {
  grid-template-columns: auto auto auto;
}

#reservation .nav-close-btn {
  display: block;
}

.modal {
  position: fixed;
  background-color: var(--lightColor);
  padding: 30px 20px;
  animation: dropTop 0.5s linear;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  z-index:1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reservation .overlay {
  background-color: rgba(0, 0, 0, .5);
}

.invalid-input {
  border-bottom:1px solid #d80101;
}
.error-msg {
  color: #d80101;
  font-weight: bold;
  font-size:12px;
}

.radio {
  display: flex;
  gap: 5px;
  padding: 0px 15px;
}

button:disabled, button[disabled], button:disabled:hover {
  background-color: #bbbbbb !important;
  color: #3a3a3a !important;
  border: #a3a3a3 !important;
  cursor: not-allowed !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  background-color: var(--primary) !important;
  color: var(--lightColor) !important;
  border: 2px solid var(--primary) !important;
  box-shadow: none !important;
}

/*Reserve section END*/

/*mobile -------------------------------------------*/

@media only screen and (max-width: 768px) {

  /*Global Design*/
  .btn {
    height: 50px;
  }

  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4{
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  /*Global Design*/

  /*Nav Design*/
  header.container-row {
    padding: 15px;
    position: sticky;
    top: 0;
  }

  nav img {
    width: 250px;
  }
  .nav-btn {
    display:flex;
  }

  nav menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top:15%;
    width: 65%;
    height: 100%;
    transition: 1s;
    background-color: var(--lightColor);
    transform: translateX(100vh);
  }

  nav menu li {
    width: 100%;
    text-align: center;
  }

.responsive_nav {
    transform:none;
    background-color: var(--lightBG);
  }
  /*Nav Design*/

  /*Footer design*/

  #fc1 .container-column {
    display: block;
  }

  .three-col {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }

  .container-row {
    padding: 30px 15px;
  }
  #soc-med {
    justify-content: center;
  }

  nav#footer-nav menu{
    display: none;
  }
  /*Footer design*/

  /*Hero Design*/
  .hero {
    background-attachment: scroll;
    height: 70vh;
  }

  .hero p {
    width: 100%;
    font-size: 18px;
  }
  /*Hero Design*/

  /*Home Section*/

  #cr1 a.btn {
    width: 150px;
  }

  #cr2 .container-column, #cr3 .container-column{
    grid-template-columns: repeat(1,1fr);
  }
  /*Home Section*/

/*About Us section START*/
#cr4 .container-column {
  grid-template-columns: 1fr;
  gap: 15px;
}
/*About Us section START*/

/*Reservation START*/
.form-col-2, .form-col-3 {
  display: block;
}

.modal {
  height: 90%;
  width: 90%;
  overflow-y: scroll;
}

/*Reservation END*/

}

@keyframes dropTop {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

@keyframes heroAnimate {
  0% {transform: scaleX(0);}
  10% {transform: scaleX(1);}
}